@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device breakpoints
-----------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px) { /* Tablet */
    header > h1 {
        font-size: 50px;
    }

    header > p {
        font-size: 20px;
    }

    main > section > h2 {
        font-size: 36px;
    }

    main > section >  #titulo-especial {
        font-size: 30px;
    }

    main > section > p {
        font-size: 22px;
    }

    main > section > div > .legenda {
        font-size: 14px;
    }

    main > section > #box-video {
        margin: 0px -10px 30px -10px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* Desktop */
    header > h1 {
        font-size: 70px;
    }

    header > p {
        font-size: 24px;
    }

    main > section > h2 {
        font-size: 38px;
    }

    main > section >  #titulo-especial {
        font-size: 32px;
    }

    main > section > p {
        font-size: 22px;
    }

    main > section > div > .legenda {
        font-size: 14px;
    }

    main > section > #box-video {
        margin: 0px -12px 30px -12px;
    }
}

@media screen and (min-width: 1200px) { /* Grandes telas */
    header > h1 {
        font-size: 100px;
    }

    header > p {
        font-size: 30px;
    }

    main {
        max-width: 950px;
    }

    main > section > h2 {
        font-size: 40px;
    }

    main > section >  #titulo-especial {
        font-size: 38px;
    }

    main > section > p {
        font-size: 28px;
        line-height: 35px;
    }

    main > section > div > .legenda {
        font-size: 18px;
    }

    main > section > #box-video {
        margin: 0px -15px 30px -15px;
    }
}